@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
.font-logo{
    font-family: 'Comfortaa';
};
.font-component{
    font-family: 'Jost', sans-serif;
}
.font-component2{
    font-family: 'Quicksand', sans-serif;
}
.z-index{
    z-index: -1;
}
.bg-blur{
    background: rgba(220, 220, 220, 0.18);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.1px);
-webkit-backdrop-filter: blur(9.1px);
}